@model IEnumerable<ContactManager.Models.Contact>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>


        }
    </table>*@

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
    </tr>



    @for (int i = 0; i < 10; i++)
    {
        <tr>
            <td>
                @Html.DisplayTextFor(m => m.Skip(i).Take(1).ToString())
            </td>
        </tr>
    }
</table>
<nav>
    <ul class="pagination">
        @{var PageNumber = 1; }
        @for (int i = 0; i < Model.Count(); i += 10)
        {
            if (PageNumber <= 10)
            {
                <li>@Html.ActionLink(PageNumber.ToString(), "Index", new { id = PageNumber })</li>
                PageNumber++;
            }
        }
    </ul>
</nav>
